body {
    background-color: black;
}

h1,h2, .Results {
    color: blanchedalmond;
    text-align: center;
}

/*Estilo de los iconos Rock paper sissors */
.Images__img {
    margin: 20px;
    background-color:rgb(46, 46, 65);
    border: 2px solid rgb(66, 66, 66);
    border-radius: 20%;
}

/*Pasar el mouse por encima de las imagenes - Sombra y las vuelve un poquito grandes*/ 
.Images__img:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 20px 1px cornflowerblue;
}

.Images {
    margin: auto;
    text-align: center;
    padding: 50px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.05); 
}