body {
    background-color: black;
    display: flex;
}

h1,h2, p, .Results {
    color: blanchedalmond;
    text-align: center;
    font-family: 'Playball', cursive;
}

b{
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

/*Estilo de los iconos Rock paper sissors */
.Images__img, .Images__img_2 {

    margin: 20px;
    background-color:rgb(46, 46, 65);
    border: 2px solid rgb(66, 66, 66);
    border-radius: 20%;

    min-width: 18vh;
    min-height: 18vh;
}

/*Pasar el mouse por encima de las imagenes - Sombra y las vuelve un poquito grandes*/ 
.Images__img:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 20px 1px cornflowerblue;
}

.Images1,.Images2 {
    text-align: center;
    padding: 50px 0;
    display:block;
    opacity:1;
    transition : all .3s;

    min-width: 100px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.05); 
}

/*Flex: */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.flex-child1{
    min-width: 80vh;
    min-height: 400px;
    flex-shrink: 0;
    text-align: center; 
}

.Results{
    padding-top:80px ;
    padding-left:20px ;
    text-align: center; 
}

/**/
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    min-width: 40vh;
    min-height: 10vh;
  }
  
  #customers td, #customers th {
    padding: 8px;
    text-align: center;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    background-color: rgb(46, 46, 65);
    color: white;
  } 
/**/


 /* Style all social media icons */
#firma{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    align-items: center;
}

 .fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

